.git
.github
.venv-cloud
.venv-edge
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.env.edge
.env.cloud
.env.prod
node_modules
frontend/simple-video-viewer/node_modules
frontend/simple-video-viewer/build
frontend/simple-video-viewer/.npm-cache
frontend/simple-video-viewer/.env
cloud/data
edge/data
*.log
