# Node.js
node_modules/
dist/
.env
.env.edge
.env.cloud
.env.prod
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Large Model Files (*.pt, *.pth, etc.)
*.pt
*.pth

# Image & Log Directories
Img/
logs/

# VSCode
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Raspberry Pi specific (optional)
*.deb
*.img
# Firebase credentials
config/firebase_credential.json


GEMINI.md
.venv*/

frontend/simple-video-viewer/.npm-cache/
cloud/data/*.db
cloud/data/*.db-shm
cloud/data/*.db-wal
cloud/data/clips/
edge/data/clips/
