/* From Uiverse.io by micaelgomestavares */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #343a40;
}

.signup-head {
  font-size: 28px;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: -0.5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #2b3035;
  padding: 30px;
  width: 450px;
  max-width: 90%;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

::placeholder {
  color: #888;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.signup-form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #e0e1dd;
  font-weight: 600;
}

.signup-inputForm {
  background-color: #343a40;
  border: 2px solid #3e444a;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  background-color: transparent;
  color: white;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.signup-inputForm:focus-within {
  border: 2px solid #ff9f1c;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: #e0e1dd;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #ff9f1c;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #ff9f1c;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #e68a00;
}

.p {
  text-align: center;
  color: #e0e1dd;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #3e444a;
  background-color: #343a40;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #ff9f1c;
}
